<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>测试</h1>
    <div id="test"></div>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="https://cdn.bootcss.com/socket.io/2.1.1/socket.io.js"></script>
    <script>
        var socket = io.connect('/chat?roomid=123123');
        var testDom = document.getElementById("test");
        socket.on("connect", () => {
            socket.emit("join", "测试");
        });
        socket.on("join", res => {
            var divEle = document.createElement("div");;
            divEle.innerHTML = res;
            testDom.appendChild(divEle);
        });
        socket.on("send", res => {
            var divEle = document.createElement("div");;
            divEle.innerHTML = res;
            testDom.appendChild(divEle);
        });

        function sendMyMsg(msg) {
            socket.emit("send", msg);
        }
    </script>
</body>

</html>